@inherits Component

<div id="@Identifier" class="@("bottom-sheet " + Class)" style="@Style">
	<div id="hover" class="bottom-sheet-hover">
		<div id="hover-decorator"></div>
	</div>
	<div id="bottom-sheet-content">@ChildContent</div>
</div>